.ficha-body{
    width: 328px;
    height: 272px;
    background: #FFFFFF;
    border: 1px solid #DDE3ED;
    border-radius: 8px;
}
.ficha-title{
    width: 216px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #060B25;
}
.parrafo{
    width: 51px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #58606E;
}
.imgseguro{
    width: 328px;
    height: 192px;
}
label{
    width: 52px;
    height: 20px;
    background: #1F61F7;
    border-radius: 4px;
}
.label-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.2px;
    color: #F5F7FA;
}