html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:40px; 
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
a:link {
    text-decoration:none;
    margin-top: 5px;
}
A:hover { 
    color: black; 
    text-decoration: none 
}
A:visited {
    color: black; 
    text-decoration: none 
}
.seleccion-boton{
    padding: 8px 32px;
    width: 113px;
    height: 48px;
    background: #1F61F7;
    box-shadow: 0px 10px 16px rgba(18, 25, 84, 0.07);
    border-radius: 1000px;
}
.texto-boton{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px;
}
#estilos-selector{
    background: #FFFFFF;
    border: 1px solid #DDE3ED;
    box-sizing: border-box;
    border-radius: 4px;
    height: 45px;
    width: 250px;
    background: #FFFFFF;
    border: 1px solid #DDE3ED;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #AFBACC;

}
.conocer{
    background: #FFFFFF;
    border: 2px solid #1F61F7;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #1F61F7;
}